<div class="file-details">
    <table>
        <caption>
            File Details
        </caption>
        <tr>
            <th>Name</th>
            <td><%= name %></td>
        </tr>
        <tr>
            <th>Size</th>
            <td><%= size %></td>
        </tr>
        <tr>
            <th>Created at</th>
            <td><%= formatDate(createdAt) %></td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td><%= formatDate(updatedAt) %></td>
        </tr>
    </table>
</div>