<section class="files">
    <div class="upload">
        <button class="new-folder">
            <span class="plus-icon">&plus;</span> New
        </button>
        <button class="new-file">
            <span class="plus-icon">&plus;</span> Upload File
        </button>
    </div>

    <div class="popup-backdrop" id="newFolderModal">
        <div class="popup">
            <button class="close" aria-label="Close">&times;</button>

            <h3>New Folder</h3>

            <form action="/files/<%= (currentFolder != null) ? currentFolder + '/' : '' %>new/folder" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

    <div class="popup-backdrop" id="uploadFileModal">
        <div class="popup">
            <button class="close" id="closeFile" aria-label="Close">&times;</button>

            <h3>Upload File</h3>

            <form action="/files/<%= (currentFolder != null) ? currentFolder + '/' : '' %>upload/file" method="post" enctype="multipart/form-data">
                <label for="file">File:</label>
                <input type="file" name="file" id="file">
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>

    <div class="popup-backdrop" id="fileDetailsModal">
        <div class="popup">
            <button class="close" id="closeFileDetails" aria-label="Close" onclick="closeFileDetails()">&times;</button>

            <h3>File Details</h3>

            <div class="popup-file-details">

            </div>
        </div>
    </div>

    <div class="files-list">
        <% for (const folder of folders) { %>
            <%- include("folder", { name: folder.name }) %>
        <% } %>
        <% for (const file of files) { %>
            <%- include("file", { name: file.name, size: file.size, path: file.path, storageKey: file.storageKey }) %>
        <% } %>
    </div>

    <script>
        const openBtn = document.querySelector(".new-folder");
        const fileOpenBtn = document.querySelector(".new-file");
        const modalBackdrop = document.getElementById("newFolderModal");
        const fileModalBackdrop = document.getElementById("uploadFileModal");
        const closeBtn = modalBackdrop.querySelector(".close");
        const fileCloseBtn = fileModalBackdrop.querySelector("#closeFile");
        const modalInput = modalBackdrop.querySelector("#name");
        const uploadFileModalBackdrop = document.getElementById("fileDetailsModal");
        const popupFileParent = document.querySelector(".popup-file-details");

        addModalOpenEvents(openBtn, modalBackdrop);
        addModalOpenEvents(fileOpenBtn, fileModalBackdrop);

        addModalCloseEvents(modalBackdrop);
        addModalCloseEvents(fileModalBackdrop);
        
        closeBtn.addEventListener("click", (e) => closeModal(modalBackdrop));
        fileCloseBtn.addEventListener("click", (e) => closeModal(fileModalBackdrop));

        document.addEventListener("keydown", (e) => {
            if (e.key === "Escape") {
                closeModal(fileModalBackdrop);
                closeModal(modalBackdrop);
            }
        });

        function closeModal(modal) {
            modal.classList.remove("active");
        }

        function addModalOpenEvents(btn, modal) {
            btn.addEventListener("click", () => {
                modal.classList.add("active");
            });
        }

        function addModalCloseEvents(modal) {
            modal.addEventListener("click", (e) => {
                if (e.target === modal) {
                    closeModal(modal);
                }
            });
        }

        // open details
        async function openFileDetails(id) {
            console.log("test");
            const res = await fetch(`/files/details/file/${id}`);
            if (!res.ok) {
                return;
            }

            const html = await res.text();
            popupFileParent.innerHTML = html;
            uploadFileModalBackdrop.classList.add("active");
        }

        function closeFileDetails() {
            uploadFileModalBackdrop.classList.remove("active");
        }
    </script>

</section>
