<div class="file">
    <a href="/files/download/file/<%= storageKey %>" class="link">
        <img src="/icons/file.png" alt="file">
        <p class="name"><%= name %></p>
    </a>
    <div class="actions">
        <button class="download">Download</button>
        <form action="/files/delete/file/<%= storageKey %>" method="post"><button class="delete">Delete</button></form>
    </div>
</div>