<div class="folder">
    <a href="/files/<%= name %>" class="link">
        <img src="/icons/folder.png" alt="folder">
        <p class="name"><%= name %></p>
    </a>
    <div class="explorer-actions">
        <div class="option-select">
            <form action="/files/delete/folder/<%= name %>" method="post"><button class="delete">Delete</button></form>
            <button class="edit">Edit</button>
        </div>
        <div class="button-menu"><img src="/icons/dots.png" alt="menu"></div>
    </div>
</div>