* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "sans-serif";
    --text: #0b1319;
    --background: white;
    --primary: #00487C;
    --primary-light: #00487C33;
    --secondary: #0496FF;
    --accent: #3E6680;
    --secondary-light: #0496FF33;
    --grey: #c8c8c8;
    --grey-dark: #3E6680;

    --nav-height: 60px;

    background: var(--background);
    color: var(--text);

    min-height: 100vh;
}

main {
    height: calc(100vh - var(--nav-height));
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--primary);
    color: white;
}

nav .header {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav .website-logo {
    width: auto;
    height: 2rem;
}

nav .links {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 20px;
}

nav .links img {
    height: 2rem;
    width: auto;
}

nav .links a {
    color: var(--background);
    text-decoration: none;
    font-size: 1.1rem;
}

nav .links button {
    background-color: transparent;
    outline: none;
    border: none;
}

nav .links .login-link {
    background-color: var(--secondary);
}

.links li{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.links li a {
    position: relative;
}

.links li a::after {
    width: 0;
    height: 2px;
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    transition: width 0.3s ease-in-out;
}

.links li:hover a::after {
    width: 100%;
}

.signup-link {
    transition: background-color 0.2s ease-in;
}

.signup-link:hover {
    background-color: var(--secondary);
}

/* login, signup */
.login-page, .signup-page {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form, .signup-form {
    margin-top: 20px;
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 10px;
    width: clamp(100px, 80%, 500px);
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 15px;
}

.input-section label {
    font-size: 0.9rem;
}

.input-section input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--grey-dark);
    outline: none;
}

.input-section input:focus {
    border-color: var(--secondary);
}

.login-form > button, .signup-form > button {
    padding: 10px 15px;
    background-color: var(--secondary);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--background);
}

/* folders & files */

.files {
    min-height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 20px;

    position: relative;
}

.upload {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
}

.upload > .back {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    max-width: clamp(10%, 200px, 40%);
    overflow: hidden;
}

.upload > .back:hover {
    text-decoration: underline;
}

.back .current-folder {
    font-size: 1.5rem;
    color: var(--grey-dark);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upload > .actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.upload > .actions > button {
    padding: 8px;
    padding-right: 12px;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1rem;
    color: var(--background);
    font-weight: 600;

    background-color: var(--secondary);
}

.plus-icon {
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-backdrop.active {
    display: flex;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    min-width: 150px;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.popup form label {
    font-size: 0.9rem;
}

.popup form input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    min-width: 100px;
}

.popup form input:hover {
    border: 1px solid var(--secondary);
}

.popup form input:focus {
    outline: 2px solid var(--secondary);
}

.popup form button {
    margin-top: 10px;
    align-self: end;
    padding: 8px;
    font-size: 0.9rem;
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.popup .close {
    color: var(--text);
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup .close:hover {
    color: var(--secondary);
}

.files-list {
    align-self: stretch;

    display: grid;
    grid-auto-rows: 1fr;
}

.files-list .folder, .files-list .file {    
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 20px;
}

.files-list .folder .name, .files-list .file .name {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.files-list .folder .link, .files-list .file .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    text-decoration: none;

    max-width: 60%;
}

.files-list .file .link {
    max-width: 50%;
}

.files-list .link:hover p{
    text-decoration: underline;
}

.files-list .folder:not(:last-child), .files-list .file:not(:last-child) {
    border-bottom: 2px solid var(--grey);
}

.files-list .folder > a > img, .files-list .file > a > img {
    height: 2.5rem;
    width: auto;
}

.files-list .folder .explorer-actions, .files-list .file .explorer-actions {
    margin-left: auto;
    position: relative;
}

.files-list .folder .explorer-actions .option-select, .files-list .file .explorer-actions .option-select {
    display: flex;
    gap: 10px;
    align-items: center;
}

.files-list .folder .explorer-actions button, .files-list .file .explorer-actions button {
    padding: 7px;
    border-radius: 10px;
    background-color: var(--primary-light);
    border: none;
}

.files-list .folder .explorer-actions button:hover, .files-list .file .explorer-actions button:hover {
    outline: 1px solid var(--secondary);
}

.button-menu {
    display: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    width: 25px;
    height: 25px;

    transition: background-color 0.3s ease-in;
}

.button-menu:hover {
    background-color: var(--secondary-light);
}

.files-list .folder .explorer-actions .delete, .files-list .file .explorer-actions .delete {
    color: red;
}

/* details */
.file-details th, .file-details td {
    padding: 10px;
}

.file-details table tr:nth-child(2n) {
    background-color: var(--primary-light);
}

.file-details table tr:not(:nth-child(2n)) {
    background-color: var(--secondary-light);
}

/* errors */
.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.error-page p {
    color: var(--grey-dark);
    font-size: 1.25rem;
}

.errors {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 600px) {
    .popup input {
        max-width: 250px;
    }

    nav .header {
        font-size: 1.4rem;
    }

    nav .links {
        gap: 8px;
    }

    nav .links a {
        font-size: 0.9rem;
    }
    
    .button-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-menu > img {
        width: 30px;
        height: 30px;
    }

    .files-list .file .explorer-actions .option-select, .files-list .folder .explorer-actions .option-select {
        display: none;
        flex-direction: column;
        gap: 1px;
        width: 250px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--grey-dark);
        background-color: var(--secondary);

        position: absolute;
        top: 0;
        left: -10px;
        transform: translateX(-100%);
    }

    .files-list .file .explorer-actions.active .option-select, .files-list .folder .explorer-actions.active .option-select {
        display: flex;
    }

    .files-list .file .explorer-actions .option-select button,
    .files-list .folder .explorer-actions .option-select button,
    .files-list .folder .explorer-actions .option-select form,
    .files-list .file .explorer-actions .option-select form {
        width: 100%;
        border-radius: 0;
        background-color: var(--background);
    }

    .files-list .file .explorer-actions .option-select button:hover,
    .files-list .folder .explorer-actions .option-select button:hover,
    .files-list .folder .explorer-actions .option-select form:hover,
    .files-list .file .explorer-actions .option-select form:hover {
        background-color: var(--grey);
    }
    
}

@media (max-width: 500px) {
    nav .header {
        font-size: 1.3rem;
    }

    nav .website-logo {
        display: none;
    }
}

@media (max-width: 1000px) {
    .upload .actions button {
        padding: 8px;
        font-size: 0.9rem;
    }

    .upload .actions .plus-icon {
        font-size: 1.2rem;
    }

    .back > .current-folder {
        font-size: 1.2rem;
    }

    .back > .back-icon {
        font-size: 1.5rem;
    }
}
