* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "sans-serif";
    --text: #0b1319;
    --background: white;
    --primary: #00487C;
    --primary-light: #00487C33;
    --secondary: #0496FF;
    --accent: #3E6680;
    --grey: #c8c8c8;
    --grey-dark: #3E6680;

    --nav-height: 60px;

    background: var(--background);
    color: var(--text);

    min-height: 100vh;
}

main {
    height: calc(100vh - var(--nav-height));
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--primary);
    color: white;
}

nav .header {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav .website-logo {
    width: auto;
    height: 2rem;
}

nav .links {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 20px;
}

nav .links img {
    height: 2rem;
    width: auto;
}

nav .links a {
    color: var(--background);
    text-decoration: none;
    font-size: 1.1rem;
}

nav .links button {
    background-color: transparent;
    outline: none;
    border: none;
}

nav .links .login-link {
    background-color: var(--secondary);
}

.links li{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.links li a {
    position: relative;
}

.links li a::after {
    width: 0;
    height: 2px;
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    transition: width 0.3s ease-in-out;
}

.links li:hover a::after {
    width: 100%;
}

.signup-link {
    transition: background-color 0.2s ease-in;
}

.signup-link:hover {
    background-color: var(--secondary);
}

/* folders & files */

.files {
    min-height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 20px;

    position: relative;
}

.upload {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.new-folder {
    padding: 8px;
    padding-right: 12px;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1rem;
    color: var(--background);
    font-weight: 600;

    background-color: var(--secondary);
}

.new-file {
    padding: 8px;
    padding-right: 12px;
    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1rem;
    color: var(--background);
    font-weight: 600;

    background-color: var(--secondary);
}

.plus-icon {
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-backdrop.active {
    display: flex;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.popup form label {
    font-size: 0.9rem;
}

.popup form input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.popup form input:hover {
    border: 1px solid var(--secondary);
}

.popup form input:focus {
    outline: 2px solid var(--secondary);
}

.popup form button {
    margin-top: 10px;
    align-self: end;
    padding: 8px;
    font-size: 0.9rem;
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.popup .close {
    color: var(--text);
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup .close:hover {
    color: var(--secondary);
}

.files-list {
    align-self: stretch;

    display: grid;
    grid-auto-rows: 1fr;
}

.files-list .folder {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: 10px;
    padding: 20px;
}

.files-list .folder .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    text-decoration: none;
}

.files-list .link:hover p{
    text-decoration: underline;
}

.files-list .folder:not(:last-child) {
    border-bottom: 2px solid var(--grey);
}

.files-list .folder img {
    height: 2.5rem;
    width: auto;
}

.files-list .folder .actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.files-list .folder .actions button {
    padding: 7px;
    border-radius: 10px;
    background-color: var(--primary-light);
    border: none;
}

.files-list .folder .actions button:hover {
    outline: 1px solid var(--secondary);
}

.files-list .folder .actions .delete {
    color: red;
}
